{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Komentarze</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Idkomentarza</th>
                <td>{{ entity.idKomentarza }}</td>
            </tr>
            <tr>
                <th>Komentarz</th>
                <td>{{ entity.komentarz }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('komentarze') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('komentarze_edit', { 'id': entity.idKomentarza }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
